.container {
    height: calc(100vh - 5vmax);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container img {
    width: 600px;
    height: auto;
}

.container a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    height: 100px;
    width: 200px;
    background-image: -webkit-radial-gradient(rgba(179, 150, 150, 0.24), rgb(200, 200, 219));
    border-radius: 20%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: rgb(49, 37, 37)
}

.img {
    height: 300px;
    width: auto;
    padding: 15px;
    border: solid 1px #ddd;
    border-radius: 15px;
}

.carousel {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 30px;
    background-color: #eee;
    padding: 30px;
}

.text {
    font-size: 32px;
    font-weight: bold;
}