.container {
    height: calc(100vh - 5vmax);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container img {
    width: 600px;
    height: auto;
}

.container a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    height: 100px;
    width: 200px;
    background-image: -webkit-radial-gradient(rgba(179, 150, 150, 0.24), rgb(200, 200, 219));
    border-radius: 20%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: rgb(49, 37, 37)
}