<div class="container">
    <img [src]="img[languageNumber-1]" alt="">
    <a href="https://zivile.netlify.app/" target="_blank"> <button class="button">{{h2[languageNumber-1]}}</button></a>

</div>
<div class="lastUpdate">
    <p>Last updated in 2022-02-14</p>
</div>


<!-- <div class="section">
    <div class="carousel-container">
        <div class="carousel">
            <img class="img" [src]="images[slideIndex-1]" alt="">
            <p class="text">{{text[slideIndex-1]}}</p>
        </div>
    </div>
</div> -->