.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: max-content;
    align-items: center;
    background-image: linear-gradient(rgb(250, 241, 241), white)
}

.listing {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

h1 {
    color: chocolate;
    margin: 2%;
    text-align: center;
}

h2 {
    color: rgb(131, 82, 47);
    font-size: 25px;
    text-align: center;
}

p {
    text-align: center;
    word-wrap: break-word;
    width: 300px;
    font-size: 20px;
    color: darkgoldenrod;
}

ul {
    color: rgb(175, 128, 7);
    text-align: center;
    justify-content: center;
    list-style-type: none;
}