<div class="main">

    <div class="before" *ngIf="!start">

        <p>Skirtingų elementų kiekis: {{maxUsedClasses}} </p>
        <div class="mygtukai">
            <div class="didinamMazinam">
                <button class="padidinti" (click)=usedClases(1)>Padidinti</button>
                <button (click)=usedClases(-1)>Sumazinti</button>
            </div>
            <div>
                <button (click)=starting()>Pradedam</button>
            </div>
        </div>


    </div>
    <div class="before" *ngIf="start">
        <div class="game">
            <div [ngStyle]="{'flex':maxUsedClasses%2==0&&maxUsedClasses<16?'25%':(maxUsedClasses%3==0&&maxUsedClasses<22)?'16.6%':(maxUsedClasses%4==0&&maxUsedClasses<61)?'12.5%':(maxUsedClasses%5==0&&maxUsedClasses<44)?'20%':'1'}" class="flexed" *ngFor="let x of shuffledCards, let ind=index">
                <div (click)=flip(ind) [className]="x.open ? x.className : 'full'">

                </div>
            </div>
        </div>
        <button (click)=restarting()>Is naujo</button>
    </div>

    <div *ngIf="victory" class="before">
        <p>Laimejote (bus nuolaida {{maxUsedClasses}})%</p>

    </div>
</div>