<div class="main">

    <h1 class="heading">{{title[languageNumber-1]}}</h1>
    <div class="before" *ngIf="!start">

        <p>{{element[languageNumber-1]}}: {{maxUsedClasses}} </p>
        <div class="mygtukai">
            <div>
                <button (click)=usedClases(-1)>{{less[languageNumber-1]}}</button>
                <button (click)=usedClases(1)>{{more[languageNumber-1]}}</button>
            </div>
            <div>
                <button (click)=starting()>{{startText[languageNumber-1]}}</button>
            </div>
        </div>


    </div>
    <div class="before" *ngIf="start">
        <div class="game">
            <div [ngStyle]="{'flex':maxUsedClasses%2==0&&maxUsedClasses<16?'25%':(maxUsedClasses%3==0&&maxUsedClasses<22)?'16.3%':(maxUsedClasses%4==0&&maxUsedClasses<61)?'12.5%':(maxUsedClasses%5==0&&maxUsedClasses<44)?'20%':'1'}" class="flexed" *ngFor="let x of shuffledCards, let ind=index">
                <div (click)=flip(ind) [className]="x.open ? x.className : 'full'">

                </div>
            </div>
        </div>
        <button (click)=restarting()>{{restart[languageNumber-1]}}</button>
    </div>

    <div *ngIf="victory" class="before">
        <div>
            <p class="victory">{{win[languageNumber-1]}} </p>
        </div>


    </div>
</div>